# In python everything is an object
-----------------------------------
## Since everything is an object, any "thing" can be assigned to any variable.

# Python has four in-built data structures
------------------------------------------
>## 1. List: a mutable collection of objects.
>## 2. Tuple: an ordered immutable collection of objects.
>## 3. Dictionary: an unordered set of key/value pair.
>## 4. Set: An unordered set of unique elements.

In [ ]:
# Lists
# Syntax
a = []    #syntax

In [ ]:
temperature = [32, 34, 36, 38, 40 ,41]
temperature

[32, 34, 36, 38, 40, 41]

In [ ]:
language = ['English', 'German', 'Japanese', 'Hindi']
len(language)

4

In [ ]:
movie_details = ['Inception', 'Christopher Nolan', 8.9, 50000000]
very_odd_list = [[1, 2, 3], ['one', 'two', 'three']]
print(len(very_odd_list))

2

In [ ]:
# Adding elements to a list
found = []
print(found)

[]

In [ ]:
# use the "append()" function
found.append("a") #first line
print(found)

['a']

In [ ]:
found.append('e') #second
print(found)

['a', 'e']

In [ ]:
found.append("i") #third
print(found)

NameError: ignored

In [ ]:
found.append("Christopher Nolan")
print(found)

['a', 'e', 'i', 'Christopher Nolan']

In [ ]:
# How to access elements in a list
a = [10, 11, 12, 13]

# list_name[index]
print(a[3])
print(a[-2])

13
12

In [ ]:
b = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#use the len function
print(b[len(b)//2])
print(len(b))
print(b[9])

In [ ]:
# List slicing
letters = ["D", "o", "n", "'", "t", " ", "p", "a", "n", "i", "c", "!"]

# list_name[start:stop:step]
print(letters[0:10:3])

#[D, "'", "p", "i"]

print(letters[::2])
#D, n, t, p, n, c
print(letters[::-2])

['D', "'", 'p', 'i']
['D', 'n', 't', 'p', 'n', 'c']
['!', 'i', 'a', ' ', "'", 'o']

In [ ]:
# join function
# joining_delimeter.join(list_name)

print(''.join(letters))

Damitoamitnamit'amittamit amitpamitaamitnamitiamitcamit!

## Removing the elements from a list

In [ ]:
# 1. Using the remove function
# list_name.remove(element_name)
nums = [1, 2, 3, 4]
print(nums)
nums.remove(3)
print(nums)

[1, 2, 3, 4]
[1, 2, 4]

In [ ]:
nums = [1, 2, 3, 4, 3]
nums.remove()
print(nums)

TypeError: ignored

In [ ]:
# pop function
nums = [1, 2, 3, 4]
nums.pop()
print(nums)

[1, 2, 3]

In [ ]:
# insert fuction
nums = [1, 2, 3, 4]
nums.insert(0, -1)
print(nums)

[-1, 1, 2, 3, 4]

In [ ]:
nums.insert(1, 0)
print(nums)

[-1, 0, 1, 2, 3, 4]

In [ ]:
nums.insert(-2, -2)
print(nums)

[-2, -1, 0, 1, 2, 3, 4]

In [ ]:
nums.insert(0, "Don't Panic")

In [ ]:
print(nums)

["Don't Panic", -2, -1, 0, 1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 4]
b = a
b.append(5)
print(a)

if id(a)==id(b):
  print("hello")

[1, 2, 3, 4, 5]
hello

In [ ]:
# use the copy function
a = [1, 2, 3, 4]
b = a.copy()
b.append(5)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# Dictionary
# Structured data with key and values

In [ ]:
# Name: Amit
# Gender: M
# Age: 27

person = {'Name': "Amit",
          'Gender': 'M',
          'Age': 27}

In [ ]:
#accessing a dictionary
print(person['Name'])

Amit

In [ ]:
print(person['Age'])

27

In [ ]:
person['Age'] = 29
print(person)

{'Name': 'Amit', 'Gender': 'M', 'Age': 29}

In [ ]:
person['Age'] += 1  # person['Age'] = person['Age'] + 1
print(person)

{'Name': 'Amit', 'Gender': 'M', 'Age': 30}

In [ ]:
person['Domain'] = "computer Science"
print(person)

{'Name': 'Amit', 'Gender': 'M', 'Age': 30, 'Domain': 'computer Science'}

In [ ]:
# Tuples
a = (1, 'amit', 7.9)
print(a)

(1, 'amit', 7.9)

In [ ]:
print(a[2])

7.9

In [ ]:
a[0] = 2
print(a)

TypeError: ignored

In [ ]:
print(len(a))

3

In [ ]:
# Sets
b = [1, 2, 3, 4, 2, 3, 4]

b = set(b)
print(b)

{1, 2, 3, 4}

In [ ]:
b = [1, 2, 3, 4, 4, 3]
b = set(b)
print(b)

{1, 2, 3, 4}

In [ ]:
b = {1, 2, 3, 4}
a = {1, 6, 7}

c = a.union(b)
print(c)

{1, 2, 3, 4, 6, 7}

In [ ]:
c = a.intersection(b)
print(c)

{1, 2, 3, 4}

## How to check for something?

In [ ]:
# if statements
a = 10
b = 12
if (a == b):
  print("yay!")
  z = a+b
  print(z)
else:
  print("Whoa!")
  z = a-b
  print(z)

print("over")

Whoa!
-2
over

In [ ]:
# input() function is an inbuilt funtion which takes input from the user
today = input("Enter today's day: ")
condition = input("How are you feeling today? ")

if today == "saturday":
  print("let's party")
elif today == "sunday":
  if condition == "headache":
    print("Rest, and recover.")
  else:
    print("Just relax")
else:
  print("Work! Work! Work!")

Enter today's day: sunday
How are you feeling today? headache
Rest, and recover.

In [ ]:
# Example-1

vowels = ['a', 'e', 'i', 'o', 'u']

print(vowels)

for each in vowels:
  print(each)

['a', 'e', 'i', 'o', 'u']
a
e
i
o
u

In [ ]:
numbers = [1, 2, 3, 4, 5]

for i in numbers:
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
# example-3
for i in numbers:
  if i%2 == 0:
    print("something")

In [ ]:
vowels = "aeiou"

for v in vowels:
  if v == 'a':
    print("It's an a")

It's an a

In [ ]:
w = "Amit Arjun Verma"

for j in w:
  if j == 'A':
    print("It's an A")

It's an A
It's an A

In [ ]:
#iterating over dictionaries
person = {'Name': "Amit",
          'Gender': 'M',
          'Age': 27}

for item in person:
  print(item)

Name
Gender
Age

In [ ]:
for item in person:
  print(item, person[item])

Name Amit
Gender M
Age 27

In [ ]:
for key, val in person.items():
  print(key, val)

Name Amit
Gender M
Age 27

In [ ]:
# frequency program
vowels = "aeiou"
word = input("provide a word to input for vowels: ")

found = {}

# your code--------(1)


for letter in word:
  for v in vowels:
    if letter == v:

      # your code------(2)

for ___, ___ in ___: #-----(3)
  print(___, ___)

In [ ]:
# frequency program
vowels = "aeiou"
word = input("provide a word to input for vowels: ")

found = {}

found['a'] = 0
found['e'] = 0
found['i'] = 0
found['o'] = 0
found['u'] = 0

for letter in word:
  for v in vowels:
    if letter == v:
      found[letter] += 1


for key, val in found.items(): #-----(3)
  print(key, val)

provide a word to input for vowels: mississippi
a 0
e 0
i 4
o 0
u 0

In [ ]:
f = {'a'}

In [ ]:
type(f)

set

In [ ]:
for i in range(0, 10, 2):
  print(i)

0
2
4
6
8

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']

for i in range(len(vowels)):
  print(vowels[i])

In [ ]:
# while loop
# while __some_condition_:
    #do something

i = 0

while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
L = [(1,2), (3,4), (5,6)]
for v,j in L:
  print(v, j)

1 2
3 4
5 6

# Fucntions
-----------
> ## 1) Function introduces two new keywords: **def** and **return**
> ## 2) Function can accept optional arguments.
> ## 3) Usually, it contains a documentation.

In [ ]:
# Syntax of function

def sample_function(optional_argument1, optional_argument2):
  """This is a sample function to show the syntax.
      This is the second statement
  """
  # your code
  # more code

  return something

In [ ]:
# example-1
def sums(a, b):
  """ This function takes two number as argument and returns the sum"""
  z = a - b
  return z

In [ ]:
c = sums(17, 18)
print(c)

## Basics of Function

In [ ]:
# creating the architechture of the function
def subs():
  a = int(input("Enter the first number: "))
  b = int(input("Enter the second number: "))
  print(z)
  z = a-b

In [ ]:
c = subs()

In [ ]:
def maximum(L):
  max_val = 0
  for item in L:
    if max_val < item:
      max_val = item

  return max_val

In [ ]:
def minimum(L):
  min_val = L[-1]
  for item in L:
    if min_val > item:
      min_val = item

  return min_val

## Taking input

In [ ]:
user_input = list(map(int, input().split()))

for i in user_input:
  print(i, end=" ")

In [ ]:
# Example-2
# write a program to find the maximum element in a list of integers
# Constraint: don't use any pre-defined functions (max)

user_input = list(map(int, input().split()))

mx = user_input[0]
for i in user_input:
  if i>mx:
    mx = i

print(mx)

In [ ]:
# Given a list of N-1 distinct numbers in the range of (1 to N)
# Find the missing element

# Example

# Input
# 5
# 1 2 5 3